# MultiIndex / advanced indexing
> https://pandas.pydata.org/docs/user_guide/advanced.html#advanced-indexing-with-hierarchical-index

## Hierarchical indexing (MultiIndex)

### Creating a MultiIndex (hierarchical index) object

In [1]:
import numpy as np
import pandas as pd

In [2]:
arrays = [
   ...:     ["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"],
   ...:     ["one", "two", "one", "two", "one", "two", "one", "two"],
   ...: ]

In [3]:
tuples = list(zip(*arrays))

In [4]:
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [5]:
index = pd.MultiIndex.from_tuples(tuples, names=["first", "second"])

In [6]:
index

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

In [7]:
s = pd.Series(np.random.randn(8), index=index)

In [8]:
s

first  second
bar    one      -0.546359
       two       2.318082
baz    one      -1.308968
       two       0.802946
foo    one       0.316369
       two       0.618169
qux    one       0.441911
       two       2.113434
dtype: float64

In [9]:
iterables = [["bar", "baz", "foo", "qux"], ["one", "two"]]

In [10]:
pd.MultiIndex.from_product(iterables, names=["first", "second"])

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

In [11]:
df = pd.DataFrame(
   ....:     [["bar", "one"], ["bar", "two"], ["foo", "one"], ["foo", "two"]],
   ....:     columns=["first", "second"],
   ....: )

In [12]:
df

  first second
0   bar    one
1   bar    two
2   foo    one
3   foo    two

In [13]:
pd.MultiIndex.from_frame(df)

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('foo', 'one'),
            ('foo', 'two')],
           names=['first', 'second'])

In [14]:
arrays = [
   ....:     np.array(["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"]),
   ....:     np.array(["one", "two", "one", "two", "one", "two", "one", "two"]),
   ....: ]

In [15]:
s = pd.Series(np.random.randn(8), index=arrays)

In [16]:
s

bar  one   -1.469148
     two    1.618659
baz  one   -1.047036
     two   -0.475139
foo  one    0.630765
     two   -1.359921
qux  one    0.093377
     two    0.433923
dtype: float64

In [17]:
df = pd.DataFrame(np.random.randn(8, 4), index=arrays)

In [18]:
df

                0         1         2         3
bar one  0.127956  1.219232  1.378747  0.318999
    two -0.037490 -0.126662  0.184208  0.734568
baz one -1.185379 -0.467459  2.487962  1.138584
    two  0.288152 -0.535242  0.117365 -2.418578
foo one  0.952498  0.077207  1.292927 -0.473592
    two  0.424829  0.567666  0.775597  1.701820
qux one  0.579143  0.791152  0.448268 -1.122581
    two -0.766846  0.359841 -1.004012 -0.182135

In [19]:
df.index.names

FrozenList([None, None])

In [20]:
df = pd.DataFrame(np.random.randn(3,8), index=["A", "B", "C"], columns=index)

In [21]:
df

first        bar                 baz                 foo                 qux  \
second       one       two       one       two       one       two       one
A      -1.037508 -0.054070  0.052385 -0.763476  2.405217  1.956118 -0.730598
B      -0.965845  1.454774 -0.083243 -0.165253 -2.112899 -0.736252 -0.292036
C       0.271828 -1.368072 -0.927469 -0.817496 -1.676607  2.298451 -0.602842

first
second       two
A      -0.119837
B      -0.835462
C       2.789348

In [22]:
pd.DataFrame(np.random.randn(6,6), index=index[:6], columns=index[:6])

first              bar                 baz                 foo
second             one       two       one       two       one       two
first second
bar   one     0.194955  2.037638  1.192104  0.173278  0.076103  1.040854
      two    -0.433245 -1.055876  1.185990 -0.417055  0.039795  1.288378
baz   one     0.296820 -0.400784  1.356464 -0.460660  0.917939  1.014909
      two     0.833979 -1.565555  0.167126 -0.538403 -0.057055  0.282426
foo   one     0.712303  0.581058 -0.508828 -0.876318 -1.800080 -0.178492
      two    -0.604480  0.210726 -0.228538  0.056619 -1.533416  0.177384

In [26]:
with pd.option_context("display.multi_sparse", False):
    print(df)

first        bar       bar       baz       baz       foo       foo       qux  \
second       one       two       one       two       one       two       one
A      -1.037508 -0.054070  0.052385 -0.763476  2.405217  1.956118 -0.730598
B      -0.965845  1.454774 -0.083243 -0.165253 -2.112899 -0.736252 -0.292036
C       0.271828 -1.368072 -0.927469 -0.817496 -1.676607  2.298451 -0.602842

first        qux
second       two
A      -0.119837
B      -0.835462
C       2.789348

In [28]:
pd.Series(np.random.randn(8), index=tuples)

(bar, one)   -0.238414
(bar, two)   -0.175593
(baz, one)    0.816060
(baz, two)   -0.756813
(foo, one)   -1.458962
(foo, two)   -1.706753
(qux, one)    0.689189
(qux, two)   -1.090098
dtype: float64

### Rescontructing the level labels

In [29]:
index.get_level_values(0)

Index(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'], dtype='object', name='first')

In [30]:
index.get_level_values(1)

Index(['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two'], dtype='object', name='second')

In [31]:
index.get_level_values("second")

Index(['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two'], dtype='object', name='second')

### Basic indexing on axis with MultiIndex

In [33]:
df

first        bar                 baz                 foo                 qux  \
second       one       two       one       two       one       two       one
A      -1.037508 -0.054070  0.052385 -0.763476  2.405217  1.956118 -0.730598
B      -0.965845  1.454774 -0.083243 -0.165253 -2.112899 -0.736252 -0.292036
C       0.271828 -1.368072 -0.927469 -0.817496 -1.676607  2.298451 -0.602842

first
second       two
A      -0.119837
B      -0.835462
C       2.789348

In [32]:
df["bar"]

second       one       two
A      -1.037508 -0.054070
B      -0.965845  1.454774
C       0.271828 -1.368072

In [35]:
type(df["bar"])

pandas.core.frame.DataFrame

In [34]:
df["bar", "one"]

A   -1.037508
B   -0.965845
C    0.271828
Name: (bar, one), dtype: float64

In [37]:
s

bar  one   -1.469148
     two    1.618659
baz  one   -1.047036
     two   -0.475139
foo  one    0.630765
     two   -1.359921
qux  one    0.093377
     two    0.433923
dtype: float64

In [38]:
s.index

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           )

In [42]:
type(s)

pandas.core.series.Series

In [36]:
s["qux"]

one    0.093377
two    0.433923
dtype: float64

### Defined levels

In [43]:
df.columns.levels

FrozenList([['bar', 'baz', 'foo', 'qux'], ['one', 'two']])

In [44]:
df

first        bar                 baz                 foo                 qux  \
second       one       two       one       two       one       two       one
A      -1.037508 -0.054070  0.052385 -0.763476  2.405217  1.956118 -0.730598
B      -0.965845  1.454774 -0.083243 -0.165253 -2.112899 -0.736252 -0.292036
C       0.271828 -1.368072 -0.927469 -0.817496 -1.676607  2.298451 -0.602842

first
second       two
A      -0.119837
B      -0.835462
C       2.789348

In [45]:
df[["foo", "qux"]].columns.levels

FrozenList([['bar', 'baz', 'foo', 'qux'], ['one', 'two']])

In [47]:
df[["foo", "qux"]]

first        foo                 qux
second       one       two       one       two
A       2.405217  1.956118 -0.730598 -0.119837
B      -2.112899 -0.736252 -0.292036 -0.835462
C      -1.676607  2.298451 -0.602842  2.789348

In [48]:
df[["foo", "qux"]].columns.to_numpy()

array([('foo', 'one'), ('foo', 'two'), ('qux', 'one'), ('qux', 'two')],
      dtype=object)

In [49]:
df[["foo", "qux"]].columns.get_level_values(0)

Index(['foo', 'foo', 'qux', 'qux'], dtype='object', name='first')

In [50]:
df[["foo", "qux"]].columns.get_level_values(1)

Index(['one', 'two', 'one', 'two'], dtype='object', name='second')

In [51]:
new_mi = df[["foo", "qux"]].columns.remove_unused_levels()

In [53]:
new_mi.levels

FrozenList([['foo', 'qux'], ['one', 'two']])

In [55]:
new_mi

MultiIndex([('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

In [56]:
type(new_mi)

pandas.core.indexes.multi.MultiIndex

### Data alignment and using `reindex`

In [57]:
s

bar  one   -1.469148
     two    1.618659
baz  one   -1.047036
     two   -0.475139
foo  one    0.630765
     two   -1.359921
qux  one    0.093377
     two    0.433923
dtype: float64

In [58]:
type(s)

pandas.core.series.Series

In [60]:
s[:2]

bar  one   -1.469148
     two    1.618659
dtype: float64

In [59]:
s + s[:2]

bar  one   -2.938296
     two    3.237317
baz  one         NaN
     two         NaN
foo  one         NaN
     two         NaN
qux  one         NaN
     two         NaN
dtype: float64

In [61]:
s + s[::2]

bar  one   -2.938296
     two         NaN
baz  one   -2.094073
     two         NaN
foo  one    1.261530
     two         NaN
qux  one    0.186753
     two         NaN
dtype: float64

In [62]:
index

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

In [63]:
index[:3]

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one')],
           names=['first', 'second'])

In [64]:
s.reindex(index[:3])

first  second
bar    one      -1.469148
       two       1.618659
baz    one      -1.047036
dtype: float64

In [65]:
s.reindex([("foo", "two"), ("bar", "one"), ("qux", "one"), ("baz", "one")])

foo  two   -1.359921
bar  one   -1.469148
qux  one    0.093377
baz  one   -1.047036
dtype: float64

## Advanced indexing with hierarchical index

In [66]:
df

first        bar                 baz                 foo                 qux  \
second       one       two       one       two       one       two       one
A      -1.037508 -0.054070  0.052385 -0.763476  2.405217  1.956118 -0.730598
B      -0.965845  1.454774 -0.083243 -0.165253 -2.112899 -0.736252 -0.292036
C       0.271828 -1.368072 -0.927469 -0.817496 -1.676607  2.298451 -0.602842

first
second       two
A      -0.119837
B      -0.835462
C       2.789348

In [67]:
df = df.T

In [68]:
df

                     A         B         C
first second
bar   one    -1.037508 -0.965845  0.271828
      two    -0.054070  1.454774 -1.368072
baz   one     0.052385 -0.083243 -0.927469
      two    -0.763476 -0.165253 -0.817496
foo   one     2.405217 -2.112899 -1.676607
      two     1.956118 -0.736252  2.298451
qux   one    -0.730598 -0.292036 -0.602842
      two    -0.119837 -0.835462  2.789348

In [69]:
df.loc[("bar", "two")]

A   -0.054070
B    1.454774
C   -1.368072
Name: (bar, two), dtype: float64

In [70]:
type(df.loc[("bar", "two")])

pandas.core.series.Series

In [71]:
df.loc["bar", "two"]  # lead to ambiguity!!!

A   -0.054070
B    1.454774
C   -1.368072
Name: (bar, two), dtype: float64

In [72]:
df.loc[("bar", "two"), "A"]

-0.05406957790863691

In [73]:
df.loc["bar"]

               A         B         C
second
one    -1.037508 -0.965845  0.271828
two    -0.054070  1.454774 -1.368072

In [75]:
df["A"]

first  second
bar    one      -1.037508
       two      -0.054070
baz    one       0.052385
       two      -0.763476
foo    one       2.405217
       two       1.956118
qux    one      -0.730598
       two      -0.119837
Name: A, dtype: float64

In [76]:
df.loc[("bar",),]

               A         B         C
second
one    -1.037508 -0.965845  0.271828
two    -0.054070  1.454774 -1.368072

In [78]:
df.loc["baz":"foo"]

                     A         B         C
first second
baz   one     0.052385 -0.083243 -0.927469
      two    -0.763476 -0.165253 -0.817496
foo   one     2.405217 -2.112899 -1.676607
      two     1.956118 -0.736252  2.298451

In [79]:
df.loc[("baz", "two"):("qux", "one")]

                     A         B         C
first second
baz   two    -0.763476 -0.165253 -0.817496
foo   one     2.405217 -2.112899 -1.676607
      two     1.956118 -0.736252  2.298451
qux   one    -0.730598 -0.292036 -0.602842

In [80]:
df.loc[("baz", "two"):"foo"]

                     A         B         C
first second
baz   two    -0.763476 -0.165253 -0.817496
foo   one     2.405217 -2.112899 -1.676607
      two     1.956118 -0.736252  2.298451

In [81]:
df

                     A         B         C
first second
bar   one    -1.037508 -0.965845  0.271828
      two    -0.054070  1.454774 -1.368072
baz   one     0.052385 -0.083243 -0.927469
      two    -0.763476 -0.165253 -0.817496
foo   one     2.405217 -2.112899 -1.676607
      two     1.956118 -0.736252  2.298451
qux   one    -0.730598 -0.292036 -0.602842
      two    -0.119837 -0.835462  2.789348

In [82]:
df.loc[[("bar", "two"), ("qux", "one")]]

                     A         B         C
first second
bar   two    -0.054070  1.454774 -1.368072
qux   one    -0.730598 -0.292036 -0.602842

> It is important to note that tuples and lists are not treated identically in pandas when it comes to indexing. Whereas a tuple is interpreted as one multi-level key, a list is used to specify several keys. Or in other words, tuples go horizontally (traversing levels), lists go vertically (scanning levels).

In [84]:
s = pd.Series([1, 2, 3, 4, 5, 6],
    index=pd.MultiIndex.from_product([["A", "B"], ["c", "d", "e"]]),)

In [85]:
s

A  c    1
   d    2
   e    3
B  c    4
   d    5
   e    6
dtype: int64

In [86]:
s.loc[[("A", "c"), ("B", "d")]] # list of tuples

A  c    1
B  d    5
dtype: int64

In [87]:
s.loc[(["A", "B"], ["c", "d"])] # tuple of lists

A  c    1
   d    2
B  c    4
   d    5
dtype: int64

### Using slicers