# MultiIndex / advanced indexing
> https://pandas.pydata.org/docs/user_guide/advanced.html#advanced-indexing-with-hierarchical-index

## Hierarchical indexing (MultiIndex)

### Creating a MultiIndex (hierarchical index) object

In [1]:
import numpy as np
import pandas as pd

In [2]:
arrays = [
   ...:     ["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"],
   ...:     ["one", "two", "one", "two", "one", "two", "one", "two"],
   ...: ]

In [3]:
tuples = list(zip(*arrays))

In [4]:
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [5]:
index = pd.MultiIndex.from_tuples(tuples, names=["first", "second"])

In [6]:
index

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

In [7]:
s = pd.Series(np.random.randn(8), index=index)

In [8]:
s

first  second
bar    one       0.340022
       two      -0.881231
baz    one       0.345446
       two       0.078835
foo    one      -0.502581
       two       0.506907
qux    one      -1.968266
       two      -1.415787
dtype: float64

In [9]:
iterables = [["bar", "baz", "foo", "qux"], ["one", "two"]]

In [10]:
pd.MultiIndex.from_product(iterables, names=["first", "second"])

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

In [11]:
df = pd.DataFrame(
   ....:     [["bar", "one"], ["bar", "two"], ["foo", "one"], ["foo", "two"]],
   ....:     columns=["first", "second"],
   ....: )

In [12]:
df

  first second
0   bar    one
1   bar    two
2   foo    one
3   foo    two

In [13]:
pd.MultiIndex.from_frame(df)

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('foo', 'one'),
            ('foo', 'two')],
           names=['first', 'second'])

In [14]:
arrays = [
   ....:     np.array(["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"]),
   ....:     np.array(["one", "two", "one", "two", "one", "two", "one", "two"]),
   ....: ]

In [15]:
s = pd.Series(np.random.randn(8), index=arrays)

In [16]:
s

bar  one    0.771366
     two   -0.000155
baz  one    0.065950
     two    2.140503
foo  one   -0.182026
     two   -0.611346
qux  one    0.957821
     two   -0.563246
dtype: float64

In [17]:
df = pd.DataFrame(np.random.randn(8, 4), index=arrays)

In [18]:
df

                0         1         2         3
bar one  1.454106 -0.741090  0.923228 -2.130362
    two  0.118056  1.702907  0.438615 -0.438644
baz one  0.416219 -0.127037 -0.538626 -0.023232
    two -3.000672 -0.753254  1.089639 -0.790878
foo one  0.338221  0.040205  0.239568  0.199569
    two  0.101455  0.341351 -1.104513  1.095918
qux one  0.182307 -0.541006  0.182166 -0.099098
    two -1.828544 -1.026954  1.776918  0.079352

In [19]:
df.index.names

FrozenList([None, None])

In [20]:
df = pd.DataFrame(np.random.randn(3,8), index=["A", "B", "C"], columns=index)

In [21]:
df

first        bar                 baz                 foo                 qux  \
second       one       two       one       two       one       two       one
A      -0.815287  0.569915 -0.183720 -0.542449 -0.803960 -0.992620  2.088150
B      -0.124877  1.292546 -0.445476  0.298170 -0.869313 -1.704052  1.191812
C       2.002885  0.889439  0.678200 -0.050670 -0.625094 -0.340257 -1.615883

first
second       two
A      -0.617237
B      -0.282737
C       2.055812

In [22]:
pd.DataFrame(np.random.randn(6,6), index=index[:6], columns=index[:6])

first              bar                 baz                 foo
second             one       two       one       two       one       two
first second
bar   one    -0.773168  0.025173  1.036859 -1.705325  0.262790  1.436240
      two    -0.691448 -0.973030  1.264077  1.086698  1.011977 -0.453958
baz   one     0.809820  0.379895 -0.325283  0.047698  1.920451 -1.760128
      two     0.632839 -0.344281 -0.133623  0.436063  0.471823 -0.615268
foo   one     0.159636 -1.564379  1.575349  0.681316  1.835069  0.477918
      two    -0.194597 -0.194773 -0.022660  1.354469 -1.662870 -0.324914

In [23]:
with pd.option_context("display.multi_sparse", False):
    print(df)

first        bar       bar       baz       baz       foo       foo       qux  \
second       one       two       one       two       one       two       one
A      -0.815287  0.569915 -0.183720 -0.542449 -0.803960 -0.992620  2.088150
B      -0.124877  1.292546 -0.445476  0.298170 -0.869313 -1.704052  1.191812
C       2.002885  0.889439  0.678200 -0.050670 -0.625094 -0.340257 -1.615883

first        qux
second       two
A      -0.617237
B      -0.282737
C       2.055812

In [24]:
pd.Series(np.random.randn(8), index=tuples)

(bar, one)   -0.618919
(bar, two)   -0.132790
(baz, one)   -0.511634
(baz, two)   -0.927964
(foo, one)    0.769187
(foo, two)   -0.610778
(qux, one)    0.655269
(qux, two)    0.784000
dtype: float64

### Rescontructing the level labels

In [25]:
index.get_level_values(0)

Index(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'], dtype='object', name='first')

In [26]:
index.get_level_values(1)

Index(['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two'], dtype='object', name='second')

In [27]:
index.get_level_values("second")

Index(['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two'], dtype='object', name='second')

### Basic indexing on axis with MultiIndex

In [28]:
df

first        bar                 baz                 foo                 qux  \
second       one       two       one       two       one       two       one
A      -0.815287  0.569915 -0.183720 -0.542449 -0.803960 -0.992620  2.088150
B      -0.124877  1.292546 -0.445476  0.298170 -0.869313 -1.704052  1.191812
C       2.002885  0.889439  0.678200 -0.050670 -0.625094 -0.340257 -1.615883

first
second       two
A      -0.617237
B      -0.282737
C       2.055812

In [29]:
df["bar"]

second       one       two
A      -0.815287  0.569915
B      -0.124877  1.292546
C       2.002885  0.889439

In [30]:
type(df["bar"])

pandas.core.frame.DataFrame

In [31]:
df["bar", "one"]

A   -0.815287
B   -0.124877
C    2.002885
Name: (bar, one), dtype: float64

In [32]:
s

bar  one    0.771366
     two   -0.000155
baz  one    0.065950
     two    2.140503
foo  one   -0.182026
     two   -0.611346
qux  one    0.957821
     two   -0.563246
dtype: float64

In [33]:
s.index

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           )

In [34]:
type(s)

pandas.core.series.Series

In [35]:
s["qux"]

one    0.957821
two   -0.563246
dtype: float64

### Defined levels

In [36]:
df.columns.levels

FrozenList([['bar', 'baz', 'foo', 'qux'], ['one', 'two']])

In [37]:
df

first        bar                 baz                 foo                 qux  \
second       one       two       one       two       one       two       one
A      -0.815287  0.569915 -0.183720 -0.542449 -0.803960 -0.992620  2.088150
B      -0.124877  1.292546 -0.445476  0.298170 -0.869313 -1.704052  1.191812
C       2.002885  0.889439  0.678200 -0.050670 -0.625094 -0.340257 -1.615883

first
second       two
A      -0.617237
B      -0.282737
C       2.055812

In [38]:
df[["foo", "qux"]].columns.levels

FrozenList([['bar', 'baz', 'foo', 'qux'], ['one', 'two']])

In [39]:
df[["foo", "qux"]]

first        foo                 qux
second       one       two       one       two
A      -0.803960 -0.992620  2.088150 -0.617237
B      -0.869313 -1.704052  1.191812 -0.282737
C      -0.625094 -0.340257 -1.615883  2.055812

In [40]:
df[["foo", "qux"]].columns.to_numpy()

array([('foo', 'one'), ('foo', 'two'), ('qux', 'one'), ('qux', 'two')],
      dtype=object)

In [41]:
df[["foo", "qux"]].columns.get_level_values(0)

Index(['foo', 'foo', 'qux', 'qux'], dtype='object', name='first')

In [42]:
df[["foo", "qux"]].columns.get_level_values(1)

Index(['one', 'two', 'one', 'two'], dtype='object', name='second')

In [43]:
new_mi = df[["foo", "qux"]].columns.remove_unused_levels()

In [44]:
new_mi.levels

FrozenList([['foo', 'qux'], ['one', 'two']])

In [45]:
new_mi

MultiIndex([('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

In [46]:
type(new_mi)

pandas.core.indexes.multi.MultiIndex

### Data alignment and using `reindex`

In [47]:
s

bar  one    0.771366
     two   -0.000155
baz  one    0.065950
     two    2.140503
foo  one   -0.182026
     two   -0.611346
qux  one    0.957821
     two   -0.563246
dtype: float64

In [48]:
type(s)

pandas.core.series.Series

In [49]:
s[:2]

bar  one    0.771366
     two   -0.000155
dtype: float64

In [50]:
s + s[:2]

bar  one    1.542732
     two   -0.000310
baz  one         NaN
     two         NaN
foo  one         NaN
     two         NaN
qux  one         NaN
     two         NaN
dtype: float64

In [51]:
s + s[::2]

bar  one    1.542732
     two         NaN
baz  one    0.131901
     two         NaN
foo  one   -0.364052
     two         NaN
qux  one    1.915642
     two         NaN
dtype: float64

In [52]:
index

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

In [53]:
index[:3]

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one')],
           names=['first', 'second'])

In [54]:
s.reindex(index[:3])

first  second
bar    one       0.771366
       two      -0.000155
baz    one       0.065950
dtype: float64

In [55]:
s.reindex([("foo", "two"), ("bar", "one"), ("qux", "one"), ("baz", "one")])

foo  two   -0.611346
bar  one    0.771366
qux  one    0.957821
baz  one    0.065950
dtype: float64

## Advanced indexing with hierarchical index

In [56]:
df

first        bar                 baz                 foo                 qux  \
second       one       two       one       two       one       two       one
A      -0.815287  0.569915 -0.183720 -0.542449 -0.803960 -0.992620  2.088150
B      -0.124877  1.292546 -0.445476  0.298170 -0.869313 -1.704052  1.191812
C       2.002885  0.889439  0.678200 -0.050670 -0.625094 -0.340257 -1.615883

first
second       two
A      -0.617237
B      -0.282737
C       2.055812

In [57]:
df = df.T

In [58]:
df

                     A         B         C
first second
bar   one    -0.815287 -0.124877  2.002885
      two     0.569915  1.292546  0.889439
baz   one    -0.183720 -0.445476  0.678200
      two    -0.542449  0.298170 -0.050670
foo   one    -0.803960 -0.869313 -0.625094
      two    -0.992620 -1.704052 -0.340257
qux   one     2.088150  1.191812 -1.615883
      two    -0.617237 -0.282737  2.055812

In [59]:
df.loc[("bar", "two")]

A    0.569915
B    1.292546
C    0.889439
Name: (bar, two), dtype: float64

In [60]:
type(df.loc[("bar", "two")])

pandas.core.series.Series

In [61]:
df.loc["bar", "two"]  # lead to ambiguity!!!

A    0.569915
B    1.292546
C    0.889439
Name: (bar, two), dtype: float64

In [62]:
df.loc[("bar", "two"), "A"]

0.5699145800238394

In [63]:
df.loc["bar"]

               A         B         C
second
one    -0.815287 -0.124877  2.002885
two     0.569915  1.292546  0.889439

In [64]:
df["A"]

first  second
bar    one      -0.815287
       two       0.569915
baz    one      -0.183720
       two      -0.542449
foo    one      -0.803960
       two      -0.992620
qux    one       2.088150
       two      -0.617237
Name: A, dtype: float64

In [65]:
df.loc[("bar",),]

               A         B         C
second
one    -0.815287 -0.124877  2.002885
two     0.569915  1.292546  0.889439

In [66]:
df.loc["baz":"foo"]

                     A         B         C
first second
baz   one    -0.183720 -0.445476  0.678200
      two    -0.542449  0.298170 -0.050670
foo   one    -0.803960 -0.869313 -0.625094
      two    -0.992620 -1.704052 -0.340257

In [67]:
df.loc[("baz", "two"):("qux", "one")]

                     A         B         C
first second
baz   two    -0.542449  0.298170 -0.050670
foo   one    -0.803960 -0.869313 -0.625094
      two    -0.992620 -1.704052 -0.340257
qux   one     2.088150  1.191812 -1.615883

In [68]:
df.loc[("baz", "two"):"foo"]

                     A         B         C
first second
baz   two    -0.542449  0.298170 -0.050670
foo   one    -0.803960 -0.869313 -0.625094
      two    -0.992620 -1.704052 -0.340257

In [69]:
df

                     A         B         C
first second
bar   one    -0.815287 -0.124877  2.002885
      two     0.569915  1.292546  0.889439
baz   one    -0.183720 -0.445476  0.678200
      two    -0.542449  0.298170 -0.050670
foo   one    -0.803960 -0.869313 -0.625094
      two    -0.992620 -1.704052 -0.340257
qux   one     2.088150  1.191812 -1.615883
      two    -0.617237 -0.282737  2.055812

In [70]:
df.loc[[("bar", "two"), ("qux", "one")]]

                     A         B         C
first second
bar   two     0.569915  1.292546  0.889439
qux   one     2.088150  1.191812 -1.615883

> It is important to note that tuples and lists are not treated identically in pandas when it comes to indexing. Whereas a tuple is interpreted as one multi-level key, a list is used to specify several keys. Or in other words, tuples go horizontally (traversing levels), lists go vertically (scanning levels).

In [71]:
s = pd.Series([1, 2, 3, 4, 5, 6],
    index=pd.MultiIndex.from_product([["A", "B"], ["c", "d", "e"]]),)

In [72]:
s

A  c    1
   d    2
   e    3
B  c    4
   d    5
   e    6
dtype: int64

In [73]:
s.loc[[("A", "c"), ("B", "d")]] # list of tuples

A  c    1
B  d    5
dtype: int64

In [74]:
s.loc[(["A", "B"], ["c", "d"])] # tuple of lists

A  c    1
   d    2
B  c    4
   d    5
dtype: int64

### Using slicers

In [76]:
def mklbl(prefix, n):
    return ['%s%s' % (prefix, i) for i in range(n)]

In [77]:
miindex = pd.MultiIndex.from_product([mklbl("A", 4), mklbl("B", 2), mklbl("C", 4), mklbl("D", 2)])

In [80]:
pd.MultiIndex.from_product([mklbl("A", 4), mklbl("B", 2)])

MultiIndex([('A0', 'B0'),
            ('A0', 'B1'),
            ('A1', 'B0'),
            ('A1', 'B1'),
            ('A2', 'B0'),
            ('A2', 'B1'),
            ('A3', 'B0'),
            ('A3', 'B1')],
           )

In [81]:
pd.MultiIndex.from_product([mklbl("A", 4), mklbl("B", 2), mklbl("C", 4)])

MultiIndex([('A0', 'B0', 'C0'),
            ('A0', 'B0', 'C1'),
            ('A0', 'B0', 'C2'),
            ('A0', 'B0', 'C3'),
            ('A0', 'B1', 'C0'),
            ('A0', 'B1', 'C1'),
            ('A0', 'B1', 'C2'),
            ('A0', 'B1', 'C3'),
            ('A1', 'B0', 'C0'),
            ('A1', 'B0', 'C1'),
            ('A1', 'B0', 'C2'),
            ('A1', 'B0', 'C3'),
            ('A1', 'B1', 'C0'),
            ('A1', 'B1', 'C1'),
            ('A1', 'B1', 'C2'),
            ('A1', 'B1', 'C3'),
            ('A2', 'B0', 'C0'),
            ('A2', 'B0', 'C1'),
            ('A2', 'B0', 'C2'),
            ('A2', 'B0', 'C3'),
            ('A2', 'B1', 'C0'),
            ('A2', 'B1', 'C1'),
            ('A2', 'B1', 'C2'),
            ('A2', 'B1', 'C3'),
            ('A3', 'B0', 'C0'),
            ('A3', 'B0', 'C1'),
            ('A3', 'B0', 'C2'),
            ('A3', 'B0', 'C3'),
            ('A3', 'B1', 'C0'),
            ('A3', 'B1', 'C1'),
            ('A3', 'B1', 'C2'),
            ('A3', 'B1', 'C3')],
           )

In [78]:
miindex

MultiIndex([('A0', 'B0', 'C0', 'D0'),
            ('A0', 'B0', 'C0', 'D1'),
            ('A0', 'B0', 'C1', 'D0'),
            ('A0', 'B0', 'C1', 'D1'),
            ('A0', 'B0', 'C2', 'D0'),
            ('A0', 'B0', 'C2', 'D1'),
            ('A0', 'B0', 'C3', 'D0'),
            ('A0', 'B0', 'C3', 'D1'),
            ('A0', 'B1', 'C0', 'D0'),
            ('A0', 'B1', 'C0', 'D1'),
            ('A0', 'B1', 'C1', 'D0'),
            ('A0', 'B1', 'C1', 'D1'),
            ('A0', 'B1', 'C2', 'D0'),
            ('A0', 'B1', 'C2', 'D1'),
            ('A0', 'B1', 'C3', 'D0'),
            ('A0', 'B1', 'C3', 'D1'),
            ('A1', 'B0', 'C0', 'D0'),
            ('A1', 'B0', 'C0', 'D1'),
            ('A1', 'B0', 'C1', 'D0'),
            ('A1', 'B0', 'C1', 'D1'),
            ('A1', 'B0', 'C2', 'D0'),
            ('A1', 'B0', 'C2', 'D1'),
            ('A1', 'B0', 'C3', 'D0'),
            ('A1', 'B0', 'C3', 'D1'),
            ('A1', 'B1', 'C0', 'D0'),
            ('A1', 'B1', 'C0', 'D1'),
            ('A1', 'B1', 'C1', 'D0'),
            ('A1', 'B1', 'C1', 'D1'),
            ('A1', 'B1', 'C2', 'D0'),
            ('A1', 'B1', 'C2', 'D1'),
            ('A1', 'B1', 'C3', 'D0'),
            ('A1', 'B1', 'C3', 'D1'),
            ('A2', 'B0', 'C0', 'D0'),
            ('A2', 'B0', 'C0', 'D1'),
            ('A2', 'B0', 'C1', 'D0'),
            ('A2', 'B0', 'C1', 'D1'),
            ('A2', 'B0', 'C2', 'D0'),
            ('A2', 'B0', 'C2', 'D1'),
            ('A2', 'B0', 'C3', 'D0'),
            ('A2', 'B0', 'C3', 'D1'),
            ('A2', 'B1', 'C0', 'D0'),
            ('A2', 'B1', 'C0', 'D1'),
            ('A2', 'B1', 'C1', 'D0'),
            ('A2', 'B1', 'C1', 'D1'),
            ('A2', 'B1', 'C2', 'D0'),
            ('A2', 'B1', 'C2', 'D1'),
            ('A2', 'B1', 'C3', 'D0'),
            ('A2', 'B1', 'C3', 'D1'),
            ('A3', 'B0', 'C0', 'D0'),
            ('A3', 'B0', 'C0', 'D1'),
            ('A3', 'B0', 'C1', 'D0'),
            ('A3', 'B0', 'C1', 'D1'),
            ('A3', 'B0', 'C2', 'D0'),
            ('A3', 'B0', 'C2', 'D1'),
            ('A3', 'B0', 'C3', 'D0'),
            ('A3', 'B0', 'C3', 'D1'),
            ('A3', 'B1', 'C0', 'D0'),
            ('A3', 'B1', 'C0', 'D1'),
            ('A3', 'B1', 'C1', 'D0'),
            ('A3', 'B1', 'C1', 'D1'),
            ('A3', 'B1', 'C2', 'D0'),
            ('A3', 'B1', 'C2', 'D1'),
            ('A3', 'B1', 'C3', 'D0'),
            ('A3', 'B1', 'C3', 'D1')],
           )

In [84]:
len(miindex)

64

In [85]:
4 * 2 * 4 * 2

64

In [86]:
micolumns = pd.MultiIndex.from_tuples([("a", "foo"), ("a", "bar"), ("b", "foo"), ("b", "bah")], names=["lv10", "lv11"])

In [87]:
dfmi = (
    pd.DataFrame(
        np.arange(len(miindex) * len(micolumns)).reshape(
            (len(miindex), len(micolumns))
        ),
        index=miindex,
        columns=micolumns,
    )
    .sort_index()
    .sort_index(axis=1)
)

In [88]:
dfmi

lv10           a         b
lv11         bar  foo  bah  foo
A0 B0 C0 D0    1    0    3    2
         D1    5    4    7    6
      C1 D0    9    8   11   10
         D1   13   12   15   14
      C2 D0   17   16   19   18
...          ...  ...  ...  ...
A3 B1 C1 D1  237  236  239  238
      C2 D0  241  240  243  242
         D1  245  244  247  246
      C3 D0  249  248  251  250
         D1  253  252  255  254

[64 rows x 4 columns]

In [90]:
dfmi.loc[(slice("A1", "A3"), slice(None), ["C1", "C3"]), :]

lv10           a         b
lv11         bar  foo  bah  foo
A1 B0 C1 D0   73   72   75   74
         D1   77   76   79   78
      C3 D0   89   88   91   90
         D1   93   92   95   94
   B1 C1 D0  105  104  107  106
         D1  109  108  111  110
      C3 D0  121  120  123  122
         D1  125  124  127  126
A2 B0 C1 D0  137  136  139  138
         D1  141  140  143  142
      C3 D0  153  152  155  154
         D1  157  156  159  158
   B1 C1 D0  169  168  171  170
         D1  173  172  175  174
      C3 D0  185  184  187  186
         D1  189  188  191  190
A3 B0 C1 D0  201  200  203  202
         D1  205  204  207  206
      C3 D0  217  216  219  218
         D1  221  220  223  222
   B1 C1 D0  233  232  235  234
         D1  237  236  239  238
      C3 D0  249  248  251  250
         D1  253  252  255  254

In [92]:
idx = pd.IndexSlice

In [93]:
dfmi.loc[idx[:, :, ["C1", "C3"]], idx[:, "foo"]]

lv10           a    b
lv11         foo  foo
A0 B0 C1 D0    8   10
         D1   12   14
      C3 D0   24   26
         D1   28   30
   B1 C1 D0   40   42
         D1   44   46
      C3 D0   56   58
         D1   60   62
A1 B0 C1 D0   72   74
         D1   76   78
      C3 D0   88   90
         D1   92   94
   B1 C1 D0  104  106
         D1  108  110
      C3 D0  120  122
         D1  124  126
A2 B0 C1 D0  136  138
         D1  140  142
      C3 D0  152  154
         D1  156  158
   B1 C1 D0  168  170
         D1  172  174
      C3 D0  184  186
         D1  188  190
A3 B0 C1 D0  200  202
         D1  204  206
      C3 D0  216  218
         D1  220  222
   B1 C1 D0  232  234
         D1  236  238
      C3 D0  248  250
         D1  252  254

In [94]:
dfmi.loc["A1", (slice(None), "foo")]

lv10        a    b
lv11      foo  foo
B0 C0 D0   64   66
      D1   68   70
   C1 D0   72   74
      D1   76   78
   C2 D0   80   82
      D1   84   86
   C3 D0   88   90
      D1   92   94
B1 C0 D0   96   98
      D1  100  102
   C1 D0  104  106
      D1  108  110
   C2 D0  112  114
      D1  116  118
   C3 D0  120  122
      D1  124  126

In [95]:
dfmi.loc[idx[:, :,["C1", "C3"]], idx[:, "foo"]]

lv10           a    b
lv11         foo  foo
A0 B0 C1 D0    8   10
         D1   12   14
      C3 D0   24   26
         D1   28   30
   B1 C1 D0   40   42
         D1   44   46
      C3 D0   56   58
         D1   60   62
A1 B0 C1 D0   72   74
         D1   76   78
      C3 D0   88   90
         D1   92   94
   B1 C1 D0  104  106
         D1  108  110
      C3 D0  120  122
         D1  124  126
A2 B0 C1 D0  136  138
         D1  140  142
      C3 D0  152  154
         D1  156  158
   B1 C1 D0  168  170
         D1  172  174
      C3 D0  184  186
         D1  188  190
A3 B0 C1 D0  200  202
         D1  204  206
      C3 D0  216  218
         D1  220  222
   B1 C1 D0  232  234
         D1  236  238
      C3 D0  248  250
         D1  252  254

In [96]:
dfmi.loc[idx[:, :, ["C1", "C3"]], idx[:, "foo"]]

lv10           a    b
lv11         foo  foo
A0 B0 C1 D0    8   10
         D1   12   14
      C3 D0   24   26
         D1   28   30
   B1 C1 D0   40   42
         D1   44   46
      C3 D0   56   58
         D1   60   62
A1 B0 C1 D0   72   74
         D1   76   78
      C3 D0   88   90
         D1   92   94
   B1 C1 D0  104  106
         D1  108  110
      C3 D0  120  122
         D1  124  126
A2 B0 C1 D0  136  138
         D1  140  142
      C3 D0  152  154
         D1  156  158
   B1 C1 D0  168  170
         D1  172  174
      C3 D0  184  186
         D1  188  190
A3 B0 C1 D0  200  202
         D1  204  206
      C3 D0  216  218
         D1  220  222
   B1 C1 D0  232  234
         D1  236  238
      C3 D0  248  250
         D1  252  254

In [97]:
mask = dfmi[("a", "foo")] > 200

In [98]:
dfmi[("a", "foo")]

A0  B0  C0  D0      0
            D1      4
        C1  D0      8
            D1     12
        C2  D0     16
                 ...
A3  B1  C1  D1    236
        C2  D0    240
            D1    244
        C3  D0    248
            D1    252
Name: (a, foo), Length: 64, dtype: int64

In [99]:
dfmi.loc[idx[mask, :, ["C1", "C3"]], idx[:, "foo"]]

lv10           a    b
lv11         foo  foo
A3 B0 C1 D1  204  206
      C3 D0  216  218
         D1  220  222
   B1 C1 D0  232  234
         D1  236  238
      C3 D0  248  250
         D1  252  254

In [100]:
dfmi.loc(axis=0)[:, :, ["C1", "C3"]]

lv10           a         b
lv11         bar  foo  bah  foo
A0 B0 C1 D0    9    8   11   10
         D1   13   12   15   14
      C3 D0   25   24   27   26
         D1   29   28   31   30
   B1 C1 D0   41   40   43   42
         D1   45   44   47   46
      C3 D0   57   56   59   58
         D1   61   60   63   62
A1 B0 C1 D0   73   72   75   74
         D1   77   76   79   78
      C3 D0   89   88   91   90
         D1   93   92   95   94
   B1 C1 D0  105  104  107  106
         D1  109  108  111  110
      C3 D0  121  120  123  122
         D1  125  124  127  126
A2 B0 C1 D0  137  136  139  138
         D1  141  140  143  142
      C3 D0  153  152  155  154
         D1  157  156  159  158
   B1 C1 D0  169  168  171  170
         D1  173  172  175  174
      C3 D0  185  184  187  186
         D1  189  188  191  190
A3 B0 C1 D0  201  200  203  202
         D1  205  204  207  206
      C3 D0  217  216  219  218
         D1  221  220  223  222
   B1 C1 D0  233  232  235  234
         D1  237  236  239  238
      C3 D0  249  248  251  250
         D1  253  252  255  254

In [101]:
df2 = dfmi.copy()

In [103]:
df2.loc(axis=0)[:, :, ["C1", "C3"]] = -10

In [104]:
df2

lv10           a         b
lv11         bar  foo  bah  foo
A0 B0 C0 D0    1    0    3    2
         D1    5    4    7    6
      C1 D0  -10  -10  -10  -10
         D1  -10  -10  -10  -10
      C2 D0   17   16   19   18
...          ...  ...  ...  ...
A3 B1 C1 D1  -10  -10  -10  -10
      C2 D0  241  240  243  242
         D1  245  244  247  246
      C3 D0  -10  -10  -10  -10
         D1  -10  -10  -10  -10

[64 rows x 4 columns]

In [105]:
df2 = dfmi.copy()

In [106]:
df2.loc[idx[:, :, ["C1", "C3"]], :] = df2 * 1000

In [107]:
df2

lv10              a               b
lv11            bar     foo     bah     foo
A0 B0 C0 D0       1       0       3       2
         D1       5       4       7       6
      C1 D0    9000    8000   11000   10000
         D1   13000   12000   15000   14000
      C2 D0      17      16      19      18
...             ...     ...     ...     ...
A3 B1 C1 D1  237000  236000  239000  238000
      C2 D0     241     240     243     242
         D1     245     244     247     246
      C3 D0  249000  248000  251000  250000
         D1  253000  252000  255000  254000

[64 rows x 4 columns]

### Cross-section